.space{
    padding: 5px;
}
.navCalendar{
    float:left;
    width: 160px;
    margin-top: 60px;
}
.appointments{
    margin-left: 160px;
    padding: 2px;
}

.companyDiv {
    height: 50px;
    border: 1px groove #adadad;
    margin-top: 20px;
}
.validationMessage{
    /*color: #5cb85c;*/
    color: #d43f3a;
}
.formAppointmentType{
    width: 350px;
}

.sideNav {
    /*border-right: 1px groove #adadad;*/
    font-size: large;
}

.mainView {
    padding: 25px;
}

.editDelete {
    width: 60px;
}
.my_brand {
    padding-top: 1px;
}
.navigacija{
    width: 65%;
}

.tp {
    display: inline-block;
}
.bground {
    opacity: 0.6;
    /*margin-top: 10em;*/
    background-image: url("../img/bck.png");
    height: 443px;
    background-repeat: repeat-x;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

th {
    color: #2367B5;
}
