<div class="container">

    <div class="row section topspace">
        <div class="col-md-12">
            <p class="lead text-center text-muted">Your clients are important to you? You want that they can make appointment easy
                and get what they want. Start using Appointments System - easy for clients to use
                and for you to manage.</p>
        </div>
    </div> <!-- / section -->

    <div class="row section featured topspace">
        <h2 class="section-title"><span>About Us</span></h2>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <h3 class="text-center">AngularJS</h3>
                <p>This what you see. AngularJS. JavaScript framework made by Google and one of the best frontend frameworks there is. It's easy to use, fast and it want choke your mobile phone.</p>
                <p class="text-center"><a href="" class="btn btn-action">Read more</a></p>
            </div>
            <div class="col-sm-6 col-md-3">
                <h3 class="text-center">Ruby on Rails</h3>
                <p>Ruby on Rails is one of the best technologies for creating web applications. Rails is actually framework for Ruby language. Backend of this service, API, is made by this awesome technology.</p>
                <p class="text-center"><a href="" class="btn btn-action">Read more</a></p>
            </div>
            <div class="col-sm-6 col-md-3">
                <h3 class="text-center">Twilio</h3>
                <p>You forgot your appointment? That's not a problem. On the day of the appointment you'll get a SMS message that inform you about appointment. That is enabled by Twilio that we implemented.</p>
                <p class="text-center"><a href="" class="btn btn-action">Read more</a></p>
            </div>
            <div class="col-sm-6 col-md-3">
                <h3 class="text-center">Our Team</h3>
                <p>We are team of six people that working together for some time. Appointments Service is built by this team. We work with few technologies: Ruby on Rails, PHP - Laravel, AngularJS.</p>
                <p class="text-center"><a href="" class="btn btn-action">Read more</a></p>
            </div>
        </div>
    </div> <!-- / section -->






</div>	<!-- /container -->