<div class="container-fluid">
    <div class="modal-header">
        <div class="modal-title">
            <h3 class="text-center">Create New Appointment Type</h3>
        </div>
    </div>

    <form name="modalInputForm" novalidate ng-submit="modalInputForm.$valid && save()">
        <div class="modal-body">
            <div class="form-group">
                <label class="text-center">Name</label>
                <input class="form-control" ng-model="appType.name"/>
            </div>
            <div class="form-group">
                <label class="text-center">Duration</label>
                <input type="text" placeholder="Duration" class="form-control" ng-model="appType.duration" required name="name" ng-maxlength="15"/>
                <span class="validationMessage" ng-show="modalInputForm.$submitted && modalInputForm.name.$error.required">Field cannot be empty</span>
                <span class="validationMessage" ng-show="modalInputForm.$submitted && modalInputForm.name.$error.maxlength">Field cannot contain more then 15 characters</span>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="submit">Save</button>
        </div>
    </form>

</div>