<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <h3 class="panel-title">Appointment types</h3>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <!--<input class="pull-right" type="text" ng-model="query" placeholder=" &#128270; Search">-->
                        <div class="inner-addon left-addon">
                            <i class="glyphicon glyphicon-search"></i>
                            <input type="text" ng-model="query"  class="form-control" placeholder="Search" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <th>
                            <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                Name
                                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'duration'; sortReverse = !sortReverse">
                                Duration
                                <span ng-show="sortType == 'duration' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'duration' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th class="text-center">Edit</th>
                        <th class="text-center">Delete</th>
                    </thead>
                    <tr dir-paginate="appointmentType in appointmentTypes | orderBy:sortType:sortReverse | filter: query | itemsPerPage: 5">
                        <td>{{appointmentType.name}}</td>
                        <td>{{appointmentType.duration}} min</td>
                        <td class="text-center"><a href="" ng-click="editType(appointmentType)"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td class="text-center"><a href="" ng-click="deleteType(appointmentType)"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                </table>
                <div class="text-center">
                    <dir-pagination-controls></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>