<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-8">
                        <h3 class="panel-title">Companies</h3>
                    </div>
                    <div class="col-lg-4">
                        <div class="inner-addon left-addon">
                            <i class="glyphicon glyphicon-search"></i>
                            <input type="text" ng-model="query"  class="form-control" placeholder="Search" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div flash-message="5000" ></div>
                <table class="table table-striped">
                    <thead>
                        <th>
                            <a href="" ng-click="sortType = 'company_name'; sortReverse = !sortReverse">
                                Name
                                <span ng-show="sortType == 'company_name' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'company_name' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = 'owner'; sortReverse = !sortReverse">
                                Owner
                                <span ng-show="sortType == 'owner' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'owner' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = 'address'; sortReverse = !sortReverse">
                                Address
                                <span ng-show="sortType == 'address' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'address' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = 'email'; sortReverse = !sortReverse">
                                Email
                                <span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>Phone number</th>
                        <th class="text-center">Active</th>
                        <th class="text-center">Edit</th>
                        <th class="text-center">Delete</th>
                    </thead>
                    <tr dir-paginate="company in companies | orderBy:sortType:sortReverse | filter: query | itemsPerPage: 10">
                        <td>{{company.name}}</td>
                        <td>{{company.owner}}</td>
                        <td>{{company.address}}</td>
                        <td>{{company.email}}</td>
                        <td>{{company.phone}}</td>
                        <td class="text-center"><input type="checkbox" ng-model="company.active" ng-checked="company.active" ng-change="companyUpdate(company)"/></td>
                        <td class="text-center"><a href="" ng-click="editCompany(company)"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td class="text-center"><a href="" ng-click="deleteCompany(company)"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                </table>
                <div class="text-center">
                    <dir-pagination-controls></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>


