<div class="container-fluid">
    <div class="modal-header">
        <div class="modal-title">
            <h3 class="text-center">Enter Your Config</h3>
        </div>
    </div>

    <form name="modalInputForm" novalidate ng-submit="modalInputForm.$valid && confirm()">
        <div class="modal-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6 col-sm-6 text-center">
                        <label>Start Time</label>
                    </div>
                    <div class="col-md-6 col-sm-6 text-center">
                        <label>End Time</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 text-center">
                            <timepicker class="tp" ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                    </div>
                    <div class="col-md-6 col-sm-6 text-center">
                        <timepicker class="tp" ng-model="mytime1" ng-change="changed()" hour-step="hstep1" minute-step="mstep1" show-meridian="ismeridian"></timepicker>

                    </div>
                </div>
            </div>

             <div class="form-group text-center">
                 <label>Choose your non-working days</label>
                <ul class="pagination">
                    <li ng-repeat="day in days"  ng-click="day.checked = !day.checked" ng-class="isChecked(day)">
                        <a href="">{{day.name}}</a>
                    </li>
                </ul>

            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="submit">Save</button>
        </div>
    </form>

</div>