<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Create AppointmentType</h3></div>
            <div class="panel-body">
                <form name="modalInputForm" novalidate ng-submit="modalInputForm.$valid && save()">
                        <div class="form-group">
                            <label class="text-center">Name</label>
                            <input class="form-control" ng-model="appType.name" placeholder="Enter name of appointment type" name="name" required ng-maxlength="20" />
                            <span class="validationMessage" ng-show="modalInputForm.$submitted && modalInputForm.name.$error.required">Field cannot be empty</span>
                            <span class="validationMessage" ng-show="modalInputForm.$submitted && modalInputForm.name.$error.maxlength">Field cannot contain more than 20 characters</span>

                        </div>
                        <div class="form-group">
                            <label class="text-center">Duration</label>
                            <input type="text" placeholder="Enter duration in minutes" class="form-control" ng-model="appType.duration" required name="duration" ng-maxlength="15" ng-pattern="/^(0|[1-9][0-9]*)$/"/>
                            <span class="validationMessage" ng-show="modalInputForm.$submitted && modalInputForm.duration.$error.required">Field cannot be empty</span>
                            <span class="validationMessage" ng-show="modalInputForm.$submitted && modalInputForm.duration.$error.maxlength">Field cannot contain more than 15 characters</span>
                            <span class="validationMessage" ng-show="modalInputForm.$submitted && modalInputForm.duration.$error.pattern">Field can contain only numbers</span>
                        </div>
                        <button class="btn btn-success pull-right" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>