<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Edit Profile</h3>
    </div>
    <div class="panel-body">
        <form name="editForm" novalidate ng-submit="editForm.$valid && editProfile()">
            <div class="form-group">
                <label>First Name:</label>
                <input type="text" ng-model="user.first_name" class="form-control" placeholder="First Name" name="firstName" ng-maxlength="15" minlength="3" required/>
                <span class="validationMessage" ng-show="editForm.$submitted && editForm.firstName.$error.required">Field cannot be empty</span>
                <span class="validationMessage" ng-show="editForm.$submitted && editForm.firstName.$error.maxlength">Field cannot contain more than 15 characters</span>
                <span class="validationMessage" ng-show="editForm.$submitted && editForm.firstName.$error.minlength">Field cannot contain less than 3 characters</span>

            </div>
            <div class="form-group">
                <label>Last Name:</label>
                <input type="text" ng-model="user.last_name" class="form-control" placeholder="Last Name" name="lastName" ng-maxlength="20" ng-minlength="5" required/>
                <span class="validationMessage" ng-show="editForm.$submitted && editForm.lastName.$error.required">Field cannot be empty</span>
                <span class="validationMessage" ng-show="editForm.$submitted && editForm.lastName.$error.maxlength">Field cannot contain more than 20 characters</span>
                <span class="validationMessage" ng-show="editForm.$submitted && editForm.lastName.$error.minlength">Field cannot contain less than 5 characters</span>
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input type="email" ng-model="user.email" class="form-control" placeholder="Email" name="email" required/>
                <span class="validationMessage" ng-show="editForm.$submitted && editForm.email.$error.required">Field cannot be empty</span>
                <span class="validationMessage" ng-show="editForm.$submitted && editForm.email.$error.email">Invalid E-mail format</span>

            </div>
            <div class="form-group">
                <label>Phone number:</label>
                <input type="text" ng-model="user.phone" class="form-control" placeholder="Enter your phone number with country code" name="phone" required ng-pattern="/(|[0-9][0-9]*)$/"/>
                <span class="validationMessage" ng-show="editForm.$submitted && editForm.phone.$error.required">Field cannot be empty</span>
                <span class="validationMessage" ng-show="editForm.$submitted && editForm.phone.$error.pattern">Field can contain only numbers</span>
            </div>
            <div class="form-group">
                <button class="btn btn-success pull-right" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
