<link rel="stylesheet" href="css/employee.css">
<header id="header">
    <div id="head" class="parallax" parallax-speed="2">
        <h1 id="logo" class="text-center">
            <img class="img-circle" src="img/as.png" alt="">
            <span class="title">Appointments System</span>
			<span class="tagline">Easy Manage Your Company Appointments<br>
				<a href="">anthony.russel42@example.com</a></span>
        </h1>
    </div>

    <nav class="navbar navbar-default navbar-sticky">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>

            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li><a href="https://{{company.website}}">{{company.name}}</a></li>
                    <li class="active"><a href="" ui-sref="employee.appointments">Appointments</a></li>
                    <li><a href="" ui-sref="employee.about">Appointments System</a></li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">User Menu <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="" ui-sref="employee.edit_profile"><span class="glyphicon glyphicon-pencil"></span>  Edit Profile</a></li>
                            <li><a href="" ui-sref="logout"><span class="glyphicon glyphicon-log-out"></span>  Logout</a></li>
                        </ul>
                    </li>
                </ul>

            </div><!--/.nav-collapse -->
        </div>
    </nav>
</header>

<main id="main">
    <div class="container">
        <div ui-view></div>
    </div>

</main>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 widget">
                <h3 class="widget-title">Contact</h3>
                <div class="widget-body">
                    <p>{{company.phone}}<br>
                        <a href="mailto:#">{{company.email}}</a><br>
                        <br>
                        {{company.address}}
                    </p>
                </div>
            </div>

        </div> <!-- /row of widgets -->
    </div>
</footer>

<footer id="underfooter">
    <div class="container">
        <div class="row">

            <div class="col-md-6 widget">
                <div class="widget-body">
                    <p>234 Hidden Pond Road, Ashland City, TN 37015 </p>
                </div>
            </div>

            <div class="col-md-6 widget">
                <div class="widget-body">
                    <p class="text-right">
                        Copyright &copy; 2014, Your awesome name here<br>
                        Design: <a href="http://www.gettemplate.com" rel="designer">Initio by GetTemplate</a> </p>
                </div>
            </div>

        </div> <!-- /row of widgets -->
    </div>
</footer>