<div class="container-fluid">
    <div class="modal-header">
        <div class="modal-title">
            <h3 class="text-center">Add New User</h3>
        </div>
    </div>

    <form name="modalInputForm" novalidate ng-submit="modalInputForm.$valid && save() ">
        <div class="modal-body">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" ng-model="e.first_name" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" ng-model="e.last_name" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="text" ng-model="e.password" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" ng-model="e.email" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Phone</label>
                <input type="text" ng-model="e.phone" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Role</label>
                <select class="form-control" ng-model="selectedRole">
                    <option value="0">Employee</option>
                    <option value="1">Owner</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="submit">Save</button>
        </div>
    </form>

</div>