<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <h3 class="panel-title">Users</h3>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="inner-addon left-addon">
                            <i class="glyphicon glyphicon-search"></i>
                            <input type="text" ng-model="query"  class="form-control" placeholder="Search" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div flash-message="5000" ></div>
                <table class="table table-striped">
                    <thead>
                    <th>
                        <a href="" ng-click="sortType = 'first_name'; sortReverse = !sortReverse">
                             Name <span ng-show="sortType == 'first_name' && !sortReverse" class="fa fa-caret-down"></span>
                             <span ng-show="sortType == 'first_name' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="sortType = 'email'; sortReverse = !sortReverse">
                            Email <span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="sortType = 'role'; sortReverse = !sortReverse">
                            Role <span ng-show="sortType == 'role' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'role' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>Phone number</th>
                    <th class="text-center">Edit</th>
                    <th class="text-center">Delete</th>
                    </thead>

                    <tr dir-paginate="user in users | orderBy:sortType:sortReverse | filter:query | itemsPerPage: 10">
                        <td>{{user.first_name}} {{user.last_name}} </td>
                        <td>{{user.email}}</td>
                        <td>{{user.role}}</td>
                        <td>{{user.phone}}</td>
                        <td class="text-center"><a href="" ng-click="editUser(user)"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td class="text-center"><a href="" ng-click="deleteUser(user)"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                </table>
                <div class="text-center">
                    <dir-pagination-controls></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
