<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h3>My Company Appointments</h3>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <a ng-click="addNew()" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus"></span> New</a>
        </div>
    </div>
    <br/>

    <table class="table">
        <thead>
            <th>Name</th>
            <th>Duration</th>
        </thead>
        <tr ng-repeat="appType in appointmentTypes">
            <td>{{appType.name}}</td>
            <td>{{appType.duration}} minutes</td>
            <td class="editDelete">
                <a ng-click="editType(appType)" href=""><span class="glyphicon glyphicon-pencil"></span></a> |
                <a ng-click="deleteType(appType.id)" href=""><span class="glyphicon glyphicon-remove"></span></a>
            </td>
        </tr>
    </table>
</div>