<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
        <h3>My Company Users</h3>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <a ng-click="addNew()" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus"></span> New</a>

    </div>
</div>
<br/>
<table class="table">
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Name</th>
        <th>Phone</th>
        <th>Role</th>
    </thead>
    <tr ng-repeat="employee in employees">
        <td>{{employee.first_name}}</td>
        <td>{{employee.last_name}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.phone}}</td>
        <td>{{employee.role}}</td>
        <td>
            <a ng-click="editUser(employee)" href=""><span class="glyphicon glyphicon-pencil"></span></a> |
            <a ng-click="removeUser(employee.id)" href=""><span class="glyphicon glyphicon-remove"></span></a>
        </td>
    </tr>
</table>


