<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="" ui-sref="owner">{{company.name | uppercase}}</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="" ui-sref="owner.edit_profile"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <!--<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>-->
                <!--</li>-->
                <li class="divider"></li>
                <li><a ui-sref="logout" href=""><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div>
                        <img src="img/enw.png"/>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-calendar-check-o fa-fw"></i> Appointment<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" collapse="isCollapsed">
                        <li>
                            <a href="" ui-sref="owner.newAppointmentType"><i class="fa fa-calendar-plus-o fa-fw"></i> Add Appointment type</a>
                        </li>
                        <li>
                            <a href="" ui-sref="owner.appointmentTypes"><i class="fa fa-th-list fa-fw"></i> All appointment types</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="" ng-click="isCollapsedEmployee = !isCollapsedEmployee"><i class="fa fa-user fa-fw"></i> Employee<span class="fa arrow"></a>
                    <ul class="nav nav-second-level" collapse="isCollapsedEmployee">
                        <li>
                            <a href="" ui-sref="owner.newEmployee"><i class="fa fa-user-plus fa-fw"></i> Add Employee</a>
                        </li>
                        <li>
                            <a href="" ui-sref="owner.employees"><i class="fa fa-users fa-fw"></i> List of all employees</a>
                        </li>
                    </ul>
                </li>


            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>

<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{company.owner}}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div ui-view>
                    <div class="bground text-center">
                        <h2>{{company.name | uppercase}}</h2>
                        <h3>{{company.owner}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>