<div class="container-fluid">

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 sideNav">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#">Main Menu</a></li>
                <li>
                    <a ui-sref="company.employees">Employees</a>
                </li>
                <li>
                    <a ui-sref="company.appointments">Appointments</a>
                </li>
                <li>
                    <a ui-sref="company.appointmentType">Appointment Types</a>
                </li>
            </ul>

        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div ui-view class="mainView" ></div>
        </div>
    </div>
</div>


