<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" ui-sref="admin">Appointment System</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="" ui-sref="admin.edit_profile"><i class="fa fa-user fa-fw"></i> User profile</a></li>
                <li class="divider"></li>
                <li><a href="" ui-sref="logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li><a href="" ui-sref="admin"><i class="fa fa-home fa-fw"></i> Home</a></li>
                <li>
                    <a href="" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-user fa-fw"></i> User<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" collapse="isCollapsed">
                        <li>
                            <a href="" ui-sref="admin.newUser"><i class="fa fa-user-plus fa-fw"></i> Add User</a>
                        </li>
                        <li>
                            <a href="" ui-sref="admin.users"><i class="fa fa-users fa-fw"></i> Users</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="" ng-click="isCollapsedCompany = !isCollapsedCompany"><i class="fa fa-building fa-fw"></i> Company<span class="fa arrow"></span></i></a>
                    <ul class="nav nav-second-level" collapse="isCollapsedCompany">
                        <li>
                            <a href="" ui-sref="admin.newCompany"><i class="fa fa-plus fa-fw"></i> Add Company</a>
                        </li>
                        <li>
                            <a href="" ui-sref="admin.companies"><i class="fa fa-list-alt fa-fw"></i> Companies</a>
                        </li>
                    </ul>
                </li>


            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>

<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Admin</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div ui-view>
                    <div class="bground text-center">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>