<div class="container-fluid">
<div class="modal-header">
    <div class="modal-title">
        <h3 class="text-center">Update User</h3>
    </div>
</div>

    <form name="createUserForm" novalidate ng-submit="createUserForm.$valid && saveUser() ">
        <div class="modal-body">
            <div class="form-group">
                <label>First Name:</label>
                <input type="text" ng-model="user.first_name" class="form-control" placeholder="First Name" name="firstName" ng-maxlength="15" minlength="3" required/>
                <span class="validationMessage" ng-show="createUserForm.$submitted && createUserForm.firstName.$error.required">Field cannot be empty</span>
                <span class="validationMessage" ng-show="createUserForm.$submitted && createUserForm.firstName.$error.maxlength">Field cannot contain more than 15 characters</span>
                <span class="validationMessage" ng-show="createUserForm.$submitted && createUserForm.firstName.$error.minlength">Field cannot contain less than 3 characters</span>

            </div>
            <div class="form-group">
                <label>Last Name:</label>
                <input type="text" ng-model="user.last_name" class="form-control" placeholder="Last Name" name="lastName" ng-maxlength="20" ng-minlength="5" required/>
                <span class="validationMessage" ng-show="createUserForm.$submitted && createUserForm.lastName.$error.required">Field cannot be empty</span>
                <span class="validationMessage" ng-show="createUserForm.$submitted && createUserForm.lastName.$error.maxlength">Field cannot contain more than 20 characters</span>
                <span class="validationMessage" ng-show="createUserForm.$submitted && createUserForm.lastName.$error.minlength">Field cannot contain less than 5 characters</span>
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input type="email" ng-model="user.email" class="form-control" placeholder="Email" name="email" required/>
                <span class="validationMessage" ng-show="createUserForm.$submitted && createUserForm.email.$error.required">Field cannot be empty</span>
                <span class="validationMessage" ng-show="createUserForm.$submitted && createUserForm.email.$error.email">Invalid E-mail format</span>

            </div>
            <div class="form-group">
                <label>Phone number:</label>
                <input type="text" ng-model="user.phone" class="form-control" placeholder="Enter your phone number with country code" name="phone" required ng-pattern="/^([0-9][0-9]*)$/"/>
                <span class="validationMessage" ng-show="createUserForm.$submitted && createUserForm.phone.$error.required">Field cannot be empty</span>
                <span class="validationMessage" ng-show="createUserForm.$submitted && createUserForm.phone.$error.pattern">Field can contain only numbers</span>
            </div>
            <div class="form-group">
                <label>Role:</label>
                <select class="form-control" ng-change="change()" ng-model="selectedRole" ng-options="selectedRole.name for selectedRole in userTypes track by selectedRole.id">

                </select>
            </div>
            <div class="form-group" ng-show="showCompanies">
                <label>Company:</label>
                <select  class="form-control"  ng-model="selectedCompany" ng-options="selectedCompany.name for selectedCompany in companies track by selectedCompany.id">

                </select>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-success " type="submit">Save</button>
        </div>
    </form>

</div>