<div class="container-fluid">
    <div class="modal-header">
        <div class="modal-title">
            <h3 class="text-center">Update Company</h3>
        </div>
    </div>

    <form name="createCompanyForm" novalidate ng-submit="createCompanyForm.$valid && update() ">
        <div class="modal-body">
            <div class="form-group">
                <label>Company Name: </label>
                <input type="text" ng-model="company.name" class="form-control" placeholder="Company Name" name="companyName" required ng-maxlength="20"/>
                <span class="validationMessage" ng-show="createCompanyForm.$submitted && createCompanyForm.companyName.$error.required">Field cannot be empty</span>
                <span class="validationMessage" ng-show="createCompanyForm.$submitted && createCompanyForm.companyName.$error.maxlength">Field cannot contain more then 20 characters</span>
            </div>
            <div class="form-group">
                <label>Owner:</label>
                <input type="text" ng-model="company.owner" class="form-control" placeholder="Owner" name="owner" ng-maxlength="15" required/>
                <span class="validationMessage" ng-show="createCompanyForm.$submitted && createCompanyForm.owner.$error.required">Field cannot be empty</span>
                <span class="validationMessage" ng-show="createCompanyForm.$submitted && createCompanyForm.owner.$error.maxlength">Field cannot contain more then 15 characters</span>
            </div>
            <div class="form-group">
                <label>Address:</label>
                <input type="text" ng-model="company.address" class="form-control" placeholder="Address" name="address" required/>
                <span class="validationMessage" ng-show="createCompanyForm.$submitted && createCompanyForm.address.$error.required">Field cannot be empty</span>
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input type="email" ng-model="company.email" class="form-control" placeholder="Email" name="email" required/>
                <span class="validationMessage" ng-show="createCompanyForm.$submitted && createCompanyForm.email.$error.required">Field cannot be empty</span>
                <span class="validationMessage" ng-show="createCompanyForm.$submitted && createCompanyForm.email.$error.email">Invalid format</span>
            </div>
            <div class="form-group">
                <label>Company Website:</label>
                <input type="text" ng-model="company.website" class="form-control" placeholder="Website" name="website" required />
                <span class="validationMessage" ng-show="createCompanyForm.$submitted && createCompanyForm.website.$error.required">Field cannot be empty</span>
            </div>
            <div class="form-group">
                <label>Company Phone number:</label>
                <input type="text" ng-model="company.phone" class="form-control" placeholder="Phone number" name="phone" required ng-pattern="/^([0-9][0-9]*)$/"/>
                <span class="validationMessage" ng-show="createCompanyForm.$submitted && createCompanyForm.companyName.$error.required">Field cannot be empty</span>
                <span class="validationMessage" ng-show="createCompanyForm.$submitted && createCompanyForm.companyName.$error.pattern">Can contain only numbers</span>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="submit">Save</button>
        </div>
    </form>

</div>